@model PPPprojekat.Otpremnica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Otpremnica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BarKodArtikla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarKodArtikla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StavkaOtpremnice.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StavkaOtpremnice.Opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDOtpremnice }) |
    @Html.ActionLink("Back to List", "Index")
</p>
